.buttonContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.5rem;
    transition: all 0.2s;

    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;

    &--primary {
        background-color: $orange;
        color: $very-dark-blue;

        &:hover {
            background-color: lighten($orange, 10%);
        }
    }
}
