.buttonContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 1.5rem;
    transition: all 0.2s;

    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    &--primary {
        background-color: $orange;
        color: $very-dark-blue;

        &:hover {
            background-color: lighten($orange, 20%);
        }
    }
}
