$breakpoints: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    '2xl': 1536px,
);

@mixin screen($size) {
    $width: map-get($breakpoints, $size);

    @media (min-width: $width) {
        @content;
    }
}
