.header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    border-bottom: 1px solid rgba($black, 10%);

    div {
        display: flex;
        align-items: center;

        &:nth-child(1) {
            gap: 80px;
        }

        &:nth-child(2) {
            gap: 60px;
        }
    }

    @include screen(md) {
        display: flex;
    }
}

.logo {
    font-size: 2.7rem;
    font-weight: 700;
}

.nav__container {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    a {
        font-size: 1.2rem;
        color: $dark-grayish-blue;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
}

.cart {
    position: relative;
    cursor: pointer;
    img {
        width: 2rem;
        height: 2rem;
    }

    span {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 24px;
        text-align: center;
        border-radius: 16px;
        font-size: 11px;
        background-color: $orange;
        color: $pale-orange;
    }
}

.avatar {
    border: 2px solid transparent;
    border-radius: 100%;
    transition: border-color 0.2s ease 100ms;

    img {
        width: 4rem;
        height: 4rem;
        display: block;
        border-radius: 100%;
    }

    &:hover {
        cursor: pointer;
        border: 2px solid $orange;
        border-radius: 100%;
    }
}
