.productDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 0.75rem;

    @include screen(md) {
        min-height: 75vh; // TODO: Fix it later
        padding: 0 4rem;
        justify-content: center;
    }

    &__brand {
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: $dark-grayish-blue;
        text-transform: uppercase;

        @include screen(md) {
            font-size: 1rem;
        }
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.2rem;

        @include screen(md) {
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }

    &__description {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: $dark-grayish-blue;

        @include screen(md) {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }

    &__actionBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.75rem;

        @include screen(lg) {
            flex-direction: row;
            gap: 1.5rem;
        }
    }
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1rem 0;

    @include screen(md) {
        align-items: flex-start;
        flex-direction: column;

        gap: 1rem;
    }

    &__priceWithDiscount {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__price {
        font-size: 1.5rem;
        color: $very-dark-blue;

        @include screen(md) {
            font-size: 2.25rem;
        }
    }

    &__discount {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1rem 0.5rem;
        height: 1.5rem;
        border-radius: 0.3rem;

        background-color: $black;
        color: $white;

        font-size: 0.875rem;

        @include screen(md) {
            padding: 0.3rem 0.5rem;
            font-size: 1.25rem;
        }
    }

    &__oldPrice {
        text-decoration: line-through;
        color: $dark-grayish-blue;

        @include screen(md) {
            font-size: 1.25rem;
        }
    }
}

.counterBlock {
    @include screen(lg) {
        max-width: 30%;
    }
}

.cart__icon {
    max-width: 1rem;
    max-height: 1rem;
}
