.productDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 0.75rem;

    &__brand {
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: $dark-grayish-blue;
        text-transform: uppercase;
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2.2rem;
    }

    &__description {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: $dark-grayish-blue;
    }

    &__actionBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.75rem;

        @include screen(md) {
            flex-direction: row;
        }
    }
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1rem 0;

    @include screen(md) {
        flex-direction: column;
    }

    &__priceWithDiscount {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__price {
        font-size: 1.5rem;
        color: $very-dark-blue;
    }

    &__discount {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1rem 0.5rem;
        height: 1.5rem;
        border-radius: 0.3rem;

        background-color: $black;
        color: $white;

        font-size: 0.875rem;
    }

    &__oldPrice {
        text-decoration: line-through;
        color: $dark-grayish-blue;
    }
}

.cart__icon {
    max-width: 1rem;
    max-height: 1rem;
}
